<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE base SYSTEM "http://www.4d.com/dtd/2007/base.dtd" >
<base name="" uuid="8F8A01783B93F342B688880F02E2CB89" collation_locale="en">
	<schema name="DEFAULT_SCHEMA"/>
</base>