{
	"users": {
		"designer": {
			"alias": "Designer"
		},
		"administrator": {
			"alias": "Administrator"
		}
	},
	"sqlSchemaGranters": {
		"DEFAULT_SCHEMA": {
			"readOnlyAccessGroup": "*",
			"readWriteAccessGroup": "*",
			"allAccessGroup": ""
		}
	},
	"settings": {
		"LocalGenericWebUser": "",
		"DesignAccessGroup": "*",
		"LocalMobileAccessGroupRW": "*",
		"RemoteMobileAccessGroupRW": "*",
		"RemoteGenericWebUser": "",
		"RemoteDefaultUser": ""
	}
}