<?xml version="1.0" encoding="UTF-8"?><preferences stamp="3">
	<com.4d>
		<server>
			<network>
				<options publication_name="app-4d"/>
			</network>
			<ip_config>
				<allow_deny_table>
					<allow_deny address="*" allow="true"/>
				</allow_deny_table>
			</ip_config>
		</server>
		<web>
			<standalone_server>
				<rest launch_at_startup="true"/>
			</standalone_server>
		</web>
	</com.4d>
</preferences>